<div class="card">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-5">
        <!--https://bootsnipp.com/snippets/featured/ecommerce-product-detail-->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of product_images; let rowIndex=index" [class.active]="rowIndex==0">
              <img class="first-slide" src="{{item}}" alt="First slide">
            </div>

          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>



      </div>
      <div class="details col-md-7">
        <h3 class="product-title">{{ product_name }}</h3>
        <div class="rating">
          <div class="stars">

            <span class="fa fa-star" [class.checked]="product_ratings>=1"></span>
            <span class="fa fa-star" [class.checked]="product_ratings>=2"></span>
            <span class="fa fa-star" [class.checked]="product_ratings>=3"></span>
            <span class="fa fa-star" [class.checked]="product_ratings>=4"></span>
            <span class="fa fa-star" [class.checked]="product_ratings>=5"></span>
          </div>
         
        </div>
        
        <h4 class="price">current price: <span>{{ product_mrp | currency: 'INR':true}}</span></h4>
        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
        <!--<h5 class="sizes">sizes:
          <span class="size" data-toggle="tooltip" title="small">s</span>
          <span class="size" data-toggle="tooltip" title="medium">m</span>
          <span class="size" data-toggle="tooltip" title="large">l</span>
          <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
        </h5>-->
        <h5 class="colors">Colors:
          <span *ngFor="let col of available_colors;" >{{ col }} &nbsp;</span>
        </h5>
        <div class="action">
          <button class="add-to-cart btn btn-default" type="button">Compare</button>

        </div>
      </div>
    </div>
  </div>
</div>