.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0; /*new code added*/
}

.carousel-item {
   
    background-color: #77777703 !important;
    text-align: center;
   
}

.carousel-item > img {
    position: unset;
    top: unset;
    left: unset;
    min-width: 0%;
    height: 15rem !important;
     margin-top: 25%;
}



.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: #00000059 no-repeat center center;
}

.card {
    padding: 10px;
    line-height: 1.5em;
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}



.product-title,
.price,
.sizes,
.colors {
    font-weight: bold;
}

.checked,
.price span {
    color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart,
.like {
    background: #ff9f1a;    
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    transition: background .3s ease;
    margin-top: 10px;
}

.add-to-cart:hover,
.like:hover {
    background: #b36800;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}


.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}