<div class="card">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-5">
        <!--https://bootsnipp.com/snippets/featured/ecommerce-product-detail-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
           <span *ngIf="product_image">            
              <img class="first-slide" src="{{ product_image }}" alt="First slide">            
           </span>
           <span *ngIf="product_images"> 
            <div class="carousel-item" *ngFor="let item of product_images; let rowIndex=index" [class.active]="rowIndex==0">
              <img class="first-slide" src="{{item}}" alt="First slide">
            </div>
            </span>

          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>



      </div>
      <div class="details col-md-7">
        <h5 class="product-title">{{ product_name }} </h5>
        <div class="rating">
          <div class="stars">

            <span class="fa fa-star" [class.checked]="product_ratings>=1"></span>
            <span class="fa fa-star" [class.checked]="product_ratings>=2"></span>
            <span class="fa fa-star" [class.checked]="product_ratings>=3"></span>
            <span class="fa fa-star" [class.checked]="product_ratings>=4"></span>
            <span class="fa fa-star" [class.checked]="product_ratings>=5"></span>
          </div>
         
        </div>
        
        <h6 class="price">current price: <span style="color: blue">{{ product_mrp | currency: 'INR':true}}</span></h6>
        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
        <!--<h5 class="sizes">sizes:
          <span class="size" data-toggle="tooltip" title="small">s</span>
          <span class="size" data-toggle="tooltip" title="medium">m</span>
          <span class="size" data-toggle="tooltip" title="large">l</span>
          <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
        </h5>-->
        <h6 class="colors">Colors:
          <span style="color: rgb(88, 119, 146)" *ngFor="let col of available_colors;" >{{ col }} &nbsp;</span>
          
        </h6>
       
        <div class="action">
          <button class="add-to-cart btn btn-default" type="button" data-toggle="modal" data-target="#myModal">Compare</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ stores|json }}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">Compare Store</h4>
      </div>
      
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Store</th>
              <th>Color</th>
              <th>Price</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
           

           
           
            
           <tr *ngFor="let entry of stores | keys">           
            <td *ngIf="entry.value">
              <span *ngIf="entry.value[entry.key].product_store_logo">
                  <img title="{{ entry.value[entry.key].product_store}}" src='{{ entry.value[entry.key].product_store_logo}}'>
              </span>
            </td>
            <td>{{ entry.value[entry.key].product_mrp}}</td>
            <td>{{ entry.value[entry.key].product_color}}</td>
            <td><a target="_blank" href="{{entry.value[entry.key].product_store_url}}">Link</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>