<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
<div class="album py-6 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="row">
          <section class="section_offset">
            <div class="table_layout list_view">
              <div class="table_row">
                <div class="table_cell">
                  <fieldset>
                    <h6>Brand</h6>
                    <ul class="checkboxes_list">
                      <li *ngFor="let brands of brand ; index as i">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" [checked]="filterBrandArr.indexOf(brands.filter) >= 0" name="brand"
                              (click)="selectBrand(brands, $event)" id="customCheck{{i}}">
                              <label class="custom-control-label" for="customCheck{{i}}">{{brands.name}}</label>
                          </div>

                      </li>
                    </ul>
                  </fieldset>
                </div>
                <div class="table_cell">
                  <fieldset>
                    <h6>Category</h6>
                    <ul class="checkboxes_list">
                      <li *ngFor="let cat of category">
                        <a [routerLink]="'/products/'+cat.category">
                          <label for="manufacturer_1">{{cat.name}}</label>
                        </a>
                      </li>
                    </ul>
                  </fieldset>
                </div>

              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row">
          <div class="col-md-3" style="padding-right: 2px; padding-left: 2px;" *ngFor="let item of data | paginate : { itemsPerPage:50, currentPage:current_page, totalItems:total }">
            <div class="card mb-3">
              <div style="max-height: 170px; min-height: 170px;    display: contents;">
                <div style="text-align: center;height: 217px;">
                  <img class="card-img-top" style="max-width: 40%;padding-top: 10px;margin: 0 auto;" src={{item.product_image}} data-holder-rendered="true">
                </div>

              </div>
              <div class="card-body">
                <p class="card-text">{{item.product_title}}</p>
                <p class="card-text">
                  <strong>Lower Price Rs.</strong>{{item.product_lowest_price}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <span style="text-align: center;">
      <pagination-controls (pageChange)="current_page = allProductDetails($event)" maxSize="8" directionLinks="true" autohide="true">
      </pagination-controls>
    </span>

  </div>
</div>