<div class="col-lg-6 col-xl-6 mx-auto">
  <div class="card card-signin flex-row my-5">
    <div class="card-body">
      <h5 class="card-title text-center">Register</h5>
      <form #signupForm="ngForm" (ngSubmit)="onFormSubmit(signupForm)">
        <div class="form-label-group">
          <input placeholder="Name" name="name" #name="ngModel" name="name" ngModel type="text" class="form-control" required>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
            <span *ngIf="name.errors.required">
              Name is required
            </span>
          </div>
        </div>
        <div class="form-label-group">
          <input placeholder="Email ID" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" ngModel type="text" class="form-control"
            required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
            <div *ngIf="email.errors.required">
              Email is required
            </div>
            <div *ngIf="email.errors.pattern && email.touched">
              The email id doesn't seem right
            </div>
          </div>
        </div>
        <div class="form-label-group">
          <input placeholder="Password" name="password" #psw="ngModel" name="password" ngModel type="password" class="form-control" required minlength="5">
          <div *ngIf="psw.invalid && (psw.dirty || psw.touched)" class="error">
            <div *ngIf="psw.errors.required">
              password is required
            </div>
            <div *ngIf="psw.errors.minlength && psw.touched">
              Min add 2 char.....
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!signupForm.form.valid">Sign Up</button>

        <a class="d-block text-center mt-2 small" href="#">Sign In</a>
        <!--https://startbootstrap.com/snippets/registration-page/-->
      </form>
    </div>
  </div>
</div>