/* You can add global styles to this file, and also import other style files */

.error {
    color: red;
    font-style: italic;
}

.bg-img {
    background: url('/assets/bg_image/bg_image_signin.jpg') fixed center center;
}

.bg-img-signup {
    background: url('/assets/bg_image/bg_image_signup.jpg') fixed -137px -25px;
}

.backdrop {
    z-index: 1999;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.spinner-three-bounce {
    width: 70px;
    text-align: center;
    position: fixed !important;
    ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    z-index: 2000;
}