<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
      <ul class="navbar-nav mr-right navbar-right">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
      
      </ul>
     
    </div>
  </nav>
</header>
<div class="container">
<router-outlet></router-outlet>
</div>